<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Exoplanet Mass Data Analyzer</h1>

       <h3>Pick an option</h3>
        <p>
        <tr>

            <th style="text-align:left">
<form action="/" method ="POST">
                <input type="radio" name="option" value="masses" > Get Average Masses </input>
                <input type="radio" name="option" value="visualize" > Visualize Mass data </input>
                <input type="radio" name="option" value="prediction" > Get Mass Prediction </input>
    <p><input type="submit" value="Submit"></p>
</form>
            </th>

        </tr>
        </p>


</body>
</html>